@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* BASIC */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

figure {
    width: fit-content;
    height: fit-content;
}

ul,
li {
    list-style: none;
}

/* BODY */
body{
    width: 100%;
    height: auto;
    
    background-color: #F5F5F5;

    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* HEADER - FIXED UI */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    min-height: 70px;
    padding: 5px;
    background-color: #FFCC32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header>.Logo {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

header>.header-frame{
    position: absolute;
    top: 0;
    left: 0;

    width: 150%;
    height: 100%;
    z-index: 100;

    transition: all 0.3s ease;
}

header>.header-frame>.top {
    position: absolute;
    top: 0;
    left: -5px;
    width: 110px;
    height: 50%;
    background-color: #F5F5F5;
    z-index: 100;
}

header>.header-frame>.left,
header>.header-frame>.right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: 100;
    box-shadow: 0 2px 0 0 gray;
}

header>.header-frame>.left {
    left: -100%;
    border-radius: 0 0 10px 0;
}

header>.header-frame>.right {
    left: 100px;
    border-radius: 0 0 0 10px;
}

header>.header-frame>.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 70%;

    background-color: #FFCC32;
    border-radius: 10px;
    box-shadow: 0 -2px 0 0 gray;

    z-index: 110;
}

.header-nav{
    width: calc(100% - 100px - 15px);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    z-index: 200;
}

.header-nav>ul {
    /* width : (menu 개수) * (100px + (gap) 5px) - 5px */
    width: 415px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    z-index: 500;
}

.header-nav>ul>li {
    position: relative;

    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 600;

    z-index: 500;
}

.header-nav>ul>li a {
    color: #000000;
    transition: transform 0.4s ease;
}

.header-nav>ul>li:hover a {
    color: #F5F5F5;
    transform: scale(1.1);
}

/* HEADER - Active state */
.header-nav>ul>li.active a {
    color: #F68500;
    transform: scale(1.2);
}

/* MAIN */
main{
    width: 100%;
    /* main내부 section이 차지하는 공간 만큼 */
    height: auto;
    background-color: #FFCC32;
}

main section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* FOOTER / FIXED UI */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 105px;

    padding-bottom: 15px;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: end; /* align to the bottom */
    gap: 10px;

    z-index: 100;
}

/* FOOTER - EMPTY BOX */
footer>.empty-box{
    min-width: 145px;
    height: 100%;
}

/* FOOTER - PROFILE UI */
.main-box {
    /* position: fixed;
    bottom: 20px;
    left: 50%; */
    /* transform: translate(-50%, 0); */
    width: 300px;
    min-width: 300px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(72, 82, 74, 0.8) 10%, rgba(72, 82, 74, 0.8) 90%);
    background-color: rgba(72, 82, 74, 0.8); /*for browsers that don't support gradients */

    border: 2px solid #5B6269;
    box-shadow: 2px 2px 2px gray;

    /* margin: 0 auto; */
}

.main-box>.text-box {
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.main-box>.text-box>.lv {
    display: inline-block;

    margin: 5px 35px;
    color: #FFCC00;
    font-weight: 600;
}

.main-box>.text-box>.name {
    display: inline-block;

    margin: 5px 30px;
    color: white;
}

.main-box>.bar-box {
    width: 100%;
    height: 70%;

    padding: 7px 7px;

    border-radius: 10px;
    background: linear-gradient(to top, #CBCBCB 40%, #F0F0F0 60%);
}

.main-box>.bar-box>.mini-box {
    width: 100%;
    height: 50%;
    padding: 3px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-box>.bar-box>.mini-box>.text {
    float: left;
    display: inline-block;
    width: 10%;

    text-align: center;
    font-size: 14px;
    font-weight: 800;
    color: #767676;
}

.main-box>.bar-box>.mini-box>.HP {
    float: left;
    display: inline-block;
    width: 90%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;

    background: linear-gradient(to bottom, #F32C64 0%, #F880A2 30%, #F32C64 50%);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box>.bar-box>.mini-box>.MP {
    float: left;
    display: inline-block;
    width: 90%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #ffffff;

    background: linear-gradient(to bottom, #08B6E0 0%, #68D2EB 30%, #08B6E0 50%);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER - NAVIGATOR UI */
.nav{
    position: relative;

    min-width: 145px;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* FOOTER - NAVIGATOR MENU UI */
#nav_menu {
    /* 버튼 3개 들어갈 만한 크기 */
    /* 45px * 3 + 5px * 2 (margin) = 135 + 10 = 145px */
    position: absolute;
    bottom : 100%;
    left: 50%;
    transform: translate(-50%, 0);

    width: 145px;
    max-height: 0;
    /* padding: 10px; */

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(72, 82, 74, 0.8) 10%, rgba(72, 82, 74, 0.8) 95%, rgba(255, 255, 255, 0.5));
    background-color: #333;
    color: white;

    border: 2px solid #5B6269;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;

    text-align: center;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 0.4s ease-in, visibility 0.4s ease-out;
}

#nav_menu h1{
    margin: auto;
    width: 90%;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;

    color: #AABBC2;
    border-bottom: 1.5px solid #56585A;
}

#nav_menu ul {
    list-style-type: none;
    padding: 0;
}

#nav_menu li {
    padding: 8px 0;
}

#nav_menu li a {
    font-size: 15px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
/* FOOTER - hover시 상호작용 */
#nav_menu li:hover {
    transform: scale(1.1);
}
#nav_menu li:hover a {
    color: #E4FF00;
}

#nav_menu.show {
    max-height: 200px;
    visibility: visible;
    /* Adjust according to the content height */
}

/* FOOTER - NAV BUTTON UI */
.nav_toggle{
    min-width: 45px;
    min-height: 45px;
    background: linear-gradient(to bottom, #41C5F1 85%, #03619E);
    border-radius: 10px;
    border: 2px solid #1974AF;

    cursor: pointer;
}
.nav_toggle i{
    color: white;
    font-size: 25px;
    text-align: center;
}
.nav_toggle:last-child i{
    font-size: 30px;
}
/* FOOTER -  hidden class for menu content */
.hidden {
    display: none;
}

.exp-box{
    position : fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 12px;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(72, 82, 74, 0.8) 10%, rgba(72, 82, 74, 0.8) 90%);
    background-color: rgba(72, 82, 74, 0.8); /*for browsers that don't support gradients */

    border: 1px solid #5B6269;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.exp-box > h1{
    width: 16.5px;
    color: white;
    font-size: 11px;
    font-weight: 600;
}

.exp-box > .exp-bar{
    width: 0;
    height: 100%;

    background: linear-gradient(to bottom, rgba(246, 247, 10, 0.8), rgba(169, 205, 3, 0.8) 50%, rgba(169, 205, 3, 0.8) 90%);
    background-color: rgba(246, 247, 10, 0.8); /*for browsers that don't support gradients */

    transition: width 0.6s ease;
}

#footer-exp{
    position : absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);

    color: white;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
}

.exp-grid{
    position: absolute;
    bottom: 0;
    left: 16.5px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    width: calc(100% - 16.5px);
    height: 12px;
}

.exp-grid > div {
    position: relative;
    background-color: transparent;
    height: 100%;
}

.exp-grid > div::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px; /* 우측 테두리 두께 */
    background-color: rgba(133, 136, 133, 0.6); /* 우측 테두리 색상 */
}