@import url(./layouts.css);

main{
    width: 100%;
    /* main내부 section이 차지하는 공간 만큼 */
    height: auto;
    background-color: #FFCC32;
}

main section {
    /* 70px: header height */
    /* padding-top: 70px; */
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    align-items: center;
}

main .title-cont {
    font-family: 'bitbit';
    width: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

main .title-cont .title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main .title-cont .title-box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: block;
}

main .title-cont .title-box .title {
    font-size: 26px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}

main .title-cont .cnt-cont {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-image: linear-gradient(to bottom, #fff, #2D3443 10%);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

main .title-cont .cnt-cont .cnt-txt {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 5px;
}

main .title-cont .cnt-cont .cnt-txt img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: block;
}

main .title-cont .cnt-cont .cnt-txt h1 {
    margin-top: 3px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

main .title-cont .cnt-cont .cnt-inner {
    width: 65%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

main .title-cont .cnt-cont .cnt-inner .timer {
    font-size: 48px;
    font-weight: normal;
    color: #FBBC05;
    text-align: center;
    flex-grow: 1;
}

main .title-cont .cnt-cont .cnt-inner .timer span {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.board {
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    height: fit-content;
    /* margin: auto; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #000000 3%);
    opacity: 0.9;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.board>h1 {
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    color: #FFCC32;
}

.board>.board_inner {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1; /* 정사각형 비율 */
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 10px;
    border: 3px solid #1E0058;
}

.board>.board_inner>.grid-cont {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 340px;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    grid-template-columns: repeat(3, minmax(70px, 1fr));
    gap: 10px;
}

.grid-cont>.obj_box {
    background-image: linear-gradient(to bottom, #000000, #543798);
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #707070;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; /* Ensures square aspect ratio */
}

.grid-cont>.obj_box:hover {
    background-image: linear-gradient(to bottom, #523396, #7677C0);
    border: 3px solid #C6A6EA;
}

.board .obj_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

aside {
    width: 100%;
    height: 10vh;
    /* margin: auto; */
    padding: 5px;
    
    background-color: #FFCC32;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.objList {
    width: 80%;
    height: fit-content;

    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.objList>.board_inner {
    width: 100%;
    height: fit-content;

    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
}

.objList>.board_inner>.flex-cont {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;
    
    gap: 5px;
}

.flex-cont>.obj_box {
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1; /* Ensures square aspect ratio */

    padding: 5px;
    
    background-image: linear-gradient(to bottom, #000000, #543798);
    
    font-size: 24px;
    
    border-radius: 10px;
    border: 1px solid #707070;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.objList .obj_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flex-cont>.obj_box:hover {
    background-image: linear-gradient(to bottom, #523396, #7677C0);
    border: 2px solid #C6A6EA;
}

/* @media screen and (max-width: 1200px) {
    main .title-cont .title-box .title {
        font-size: 26px;
    }

    main .title-cont .cnt-cont .cnt-txt h1 {
        font-size: 16px;
    }

    main .title-cont .cnt-cont .cnt-inner .timer {
        font-size: 40px;
    }

    .board>h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 992px) {
    header>nav {
        width: 50%;
    }

    header>nav>ul>li {
        font-size: 12px;
    }

    main .title-cont .title-box .title {
        font-size: 22px;
    }

    main .title-cont .cnt-cont .cnt-txt h1 {
        font-size: 14px;
    }

    main .title-cont .cnt-cont .cnt-inner .timer {
        font-size: 35px;
    }

    .board>h1 {
        font-size: 20px;
    }

    .grid-cont>.obj_box {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    header>nav {
        width: 60%;
    }

    header>nav>ul {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    header>nav>ul>li {
        font-size: 12px;
        width: 100%;
    }

    main .title-cont .title-box .title {
        font-size: 20px;
    }

    main .title-cont .cnt-cont .cnt-txt h1 {
        font-size: 12px;
    }

    main .title-cont .cnt-cont .cnt-inner .timer {
        font-size: 30px;
    }

    .board>h1 {
        font-size: 18px;
    }

    .grid-cont {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        grid-template-rows: auto;
    }

    .grid-cont>.obj_box {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    header>nav {
        width: 70%;
    }

    header>nav>ul>li {
        font-size: 10px;
        width: 100%;
    }

    main .title-cont .title-box .title {
        font-size: 18px;
    }

    main .title-cont .cnt-cont .cnt-txt h1 {
        font-size: 10px;
    }

    main .title-cont .cnt-cont .cnt-inner .timer {
        font-size: 25px;
    }

    .board>h1 {
        font-size: 16px;
    }

    .grid-cont {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-template-rows: auto;
    }

    .grid-cont>.obj_box {
        width: auto;
        height: auto;
    }

    .flex-cont>.obj_box {
        width: 50px;
        height: 50px;
    }
} */